.btn-style {
    display: inline-block;
    margin: 10px 10px 10px 10px;
    border-radius: 50px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 80px;
}

#esquerda {
    float: left;
    margin: 10px 270px 20px;
}

#direita {
    float: right;
    margin: 10px 270px 20px;
}

.img {
    margin-top: 30px;
    text-align: center;
    width: 30px;
    height: 30px;
}